Source: workspaces-gtk-theme
Section: misc
Priority: optional
Maintainer: Herculean Inc <hello@hercules.dev>
Build-Depends: debhelper (>= 10.3),
Build-Depends-Indep: libglib2.0-dev,
                     meson (>= 0.45),
                     sassc,
Standards-Version: 4.4.0.0
Homepage: https://github.com/herculean-inc/workspaces-gtk-theme
Vcs-Browser: https://github.com/herculean-inc/workspaces-gtk-theme
Vcs-Git: https://github.com/herculean-inc/workspaces-gtk-theme

Package: workspaces-gnome-shell-theme
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
         workspaces-gtk-theme
Description: Workspaces GNOME Shell Theme
 The Workspaces theme for GNOME Shell
 .
 This package contains the GNOME Shell theme part

Package: workspaces-gtk-theme
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
         gnome-themes-extra,
         gtk2-engines-pixbuf,
         gtk2-engines-murrine,
Conflicts: workspaces-gnome-shell-theme (<= 4.1.0),
Description: Workspaces GTK Theme
 The Workspaces theme for GTK.
 .
 This package contains the GTK 2 and 3 theme parts

Package: workspaces-sound-theme
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: workspaces sound theme
 The Workspaces sound theme is based on the Ubuntu Yaru sound theme. 
 .
 This package contains the sound theme
 .
 If you want to follow development, more information here:
 https://community.ubuntu.com/c/desktop/theme-refresh.
