Package: workspaces-gnome-shell-theme
Source: workspaces-gtk-theme
Version: 5.0.0ubuntu5
Architecture: all
Maintainer: Herculean Inc <hello@hercules.dev>
Installed-Size: 621
Depends: workspaces-gtk-theme
Section: misc
Priority: optional
Homepage: https://github.com/herculean-inc/workspaces-gtk-theme
Description: Workspaces GNOME Shell Theme
 The Workspaces theme for GNOME Shell
 .
 This package contains the GNOME Shell theme part
